@model AFKHastanesi.Models.Kullanici
@{
    ViewData["Title"] = "Kayıt Ol";
}


<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="signup-form p-4" style="max-width: 400px; width: 100%; background-color: #ffffff; border: 1px solid #ced4da; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        @{
            if (ViewBag.HataMsg != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.HataMsg
                </div>
            }
        }
        <h2 class="mb-4">Sign Up</h2>
        <form method="post" asp-action="SignUp" asp-controller="Auth">
            <div class="mb-3">
                <label asp-for="KullaniciAdi" class="form-label">First Name</label>
                <input asp-for="KullaniciAdi" type="text" class="form-control" placeholder="First Name" required>
            </div>
            <div class="mb-3">
                <label asp-for="KullaniciSoyadi" class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="KullaniciSoyadi" placeholder="Last Name" required>
            </div>
            <div class="mb-3">
                <label asp-for="KullaniciEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" asp-for="KullaniciEmail" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label asp-for="KullaniciSifre" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="KullaniciSifre" placeholder="Password" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Kayıt Ol"></input>
        </form>
    </div>
</div>