@{
    Layout = "_AdminLayout";
}

<div class="text-center">
    <h2 class="text-center">Poliklinik Listesi</h2>
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col" class="text-center">Poliklinik Adı</th>
                <th scope="col" class="text-center">Bilim Dalı</th>
                <th scope="col" class="text-center">Doktor</th>
                
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var poliklinik in ViewBag.Poliklinikler)
                {
                    <tr>
                        <td scope="row" class="text-center">@poliklinik.PoliklinikAdi</td>
                        <td class="text-center">@poliklinik.BilimDaliID</td>
                        <td scope="row" class="text-center">@poliklinik.DoktorID</td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>