@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz AFK Hastanesi</h1>
    <p>Sağlık, gerçek zenginliğin anahtarıdır. En değerli mirasımızdır ve ona dikkat etmek, hayatımıza değer katar</p>

</div>
